body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #f3f5fc;
  font-family: "Open Sans", sans-serif;
}

.App {
  background: white;
  border-radius: 9px;
  border: 1px solid #e7ecfb;
  box-shadow: 0 0 30px rgb(211 220 248 /30%);
  padding: 30px;
}
